/* .page {
  width: 2301px;
  height: 6048px;
  position: absolute;
  background: #F2F2F2;
box-shadow: 25px 25px 40px rgba(0, 0, 0, 0.25); 
} */
/* .container {
  position: absolute;
  width: 1216px;
  height: 4406px;
  left: 112px;
  top: 166px;
} */
h2 {
    font-family: "Abhaya Libre", serif;
    font-style: regular;
    font-size: 40px;
    line-height: 47px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    font-weight: 800;
}

.sect1 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
}

h5 {
    font-family: "Abhaya Libre ExtraBold";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
}

.sect2 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
}

.smallprnt1 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.smallprnt2 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.smallprnt3 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.smalldisclaimer {
    position: absolute;
    width: 716px;
    height: 38px;
    left: 362px;
    top: 4661px;

    /* Karla/Regular/P - 16 */

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.02em;
}